

.useraccount{
    //top: 20px;
    text-align: right;
    position: fixed;
    top: 20px;
    right: 60px;
}
.dropdown-menu{
    min-width: 100px;
}
.datacontent{
    width: 70%;
    position: relative;
    left: 15%;
    top: 100px;
}
canvas{
    width: 100%;
    height: auto;
}
canvas:hover{
    cursor: pointer;
}

.glyphicon-menu-left{
    width: 21px;
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: #cfcfcf;
}
